.fa-uno{
    background-image: url('./images/uno.png');
    height: 195px;
    background-size: cover; 
    background-repeat: no-repeat;  
    padding-left: 0;  
    
}
.fa-dos{
    background-image: url('./images/dos.png'); 
    background-size: cover;     
    background-repeat: no-repeat;  
    padding-left: 0;
    height: 195px;    
}
.fa-tres{
    background-image: url('./images/tres.png'); 
    background-size: cover;     
    background-repeat: no-repeat;  
    padding-left: 0;
    height: 195px;    
}
.fa-cuatro{
    background-image: url('./images/cuatro.png'); 
    background-size: cover;     
    background-repeat: no-repeat;  
    padding-left: 0;
    height: 195px;    
}
.fa-cinco{
    background-image: url('./images/cinco.png'); 
    background-size: cover;     
    background-repeat: no-repeat;  
    padding-left: 0;
    height: 195px;    
}
.fa-seis{
    background-image: url('./images/seis.png'); 
    background-size: cover;     
    background-repeat: no-repeat;  
    padding-left: 0;
    height: 195px;    
}
.fa-siete{
    background-image: url('./images/siete.png'); 
    background-size: cover;     
    background-repeat: no-repeat;  
    padding-left: 0;
    height: 195px;    
}
.fa-ocho{
    background-image: url('./images/ocho.png'); 
    background-size: cover;     
    background-repeat: no-repeat;  
    padding-left: 0;
    height: 195px;    
}
.fa-nueve{
    background-image: url('./images/nueve.png'); 
    background-size: cover;     
    background-repeat: no-repeat;  
    padding-left: 0;
    height: 195px;    
}
.fa-diez{
    background-image: url('./images/diez.png'); 
    background-size: cover;     
    background-repeat: no-repeat;  
    padding-left: 0;
    height: 195px;    
}
.fa-once{
    background-image: url('./images/once.png'); 
    background-size: cover;     
    background-repeat: no-repeat;  
    padding-left: 0;
    height: 195px;    
}
.fa-doce{
    background-image: url('./images/once.png'); 
    background-size: cover;     
    background-repeat: no-repeat;  
    padding-left: 0;
    height: 195px;    
}
.fa-trece{
    background-image: url('./images/once.png'); 
    background-size: cover;     
    background-repeat: no-repeat;  
    padding-left: 0;
    height: 195px;    
}
.fa-catorce{
    background-image: url('./images/once.png'); 
    background-size: cover;     
    background-repeat: no-repeat;  
    padding-left: 0;
    height: 195px;    
}
.fa-quince{
    background-image: url('./images/once.png'); 
    background-size: cover;     
    background-repeat: no-repeat;  
    padding-left: 0;
    height: 195px;    
}
.fa-dieciseis{
    background-image: url('./images/once.png'); 
    background-size: cover;     
    background-repeat: no-repeat;  
    padding-left: 0;
    height: 195px;    
}
.fa-dosT{
    background-image: url('./images/dosT.png'); 
    background-size: cover;     
    background-repeat: no-repeat;  
    padding-left: 0;
    height: 195px;    
}
.fa-tresT{
    background-image: url('./images/treceT.png'); 
    background-size: cover;     
    background-repeat: no-repeat;  
    padding-left: 0;
    height: 195px;    
}
.fa-cuatroT{
    background-image: url('./images/cuatroT.png'); 
    background-size: cover;     
    background-repeat: no-repeat;  
    padding-left: 0;
    height: 195px;    
}
.fa-cincoT{
    background-image: url('./images/cincoT.png'); 
    background-size: cover;     
    background-repeat: no-repeat;  
    padding-left: 0;
    height: 195px;    
}
.fa-seisT{
    background-image: url('./images/seisT.png'); 
    background-size: cover;     
    background-repeat: no-repeat;  
    padding-left: 0;
    height: 195px;    
}
.fa-sieteT{
    background-image: url('./images/sieteT.png'); 
    background-size: cover;     
    background-repeat: no-repeat;  
    padding-left: 0;
    height: 195px;    
}
.fa-ochoT{
    background-image: url('./images/ochoT.png'); 
    background-size: cover;     
    background-repeat: no-repeat;  
    padding-left: 0;
    height: 195px;    
}
.fa-nueveT{
    background-image: url('./images/nueveT.png'); 
    background-size: cover;     
    background-repeat: no-repeat;  
    padding-left: 0;
    height: 195px;    
}
.fa-diezT{
    background-image: url('./images/diezT.png'); 
    background-size: cover;     
    background-repeat: no-repeat;  
    padding-left: 0;
    height: 195px;    
}
.fa-onceT{
    background-image: url('./images/onceT.png'); 
    background-size: cover;     
    background-repeat: no-repeat;  
    padding-left: 0;
    height: 195px;    
}
.fa-doceT{
    background-image: url('./images/doceT.png'); 
    background-size: cover;     
    background-repeat: no-repeat;  
    padding-left: 0;
    height: 195px;    
}
.fa-treceT{
    background-image: url('./images/treceT.png'); 
    background-size: cover;     
    background-repeat: no-repeat;  
    padding-left: 0;
    height: 195px;    
}
