
.title{
  color: white;
  text-align: center;
  width: 250px;
  margin-left: 42%;
  font-size: 2em;
}

.play , .hits {
    color: brown;
    background-color: beige;
    width: 300px;
    display: inline-block;
    margin: 2%;
    font-size: 2em;
    text-align: center;
    margin-left: 18%;
}